* {
    box-sizing: border-box;
}

html {
    height: 100%;
    overflow-x: hidden;
    -webkit-text-size-adjust: 100%;
    overscroll-behavior: none;
}

body {
    padding: 0;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.1);
    font-family: "Roboto", sans-serif;
    overscroll-behavior: none;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
}

.container {
    padding: 10px;
    width: 90vw;
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
}

.header {
    width: 100%;
    height: 100px;
    background-color: #a2faf3;
    background-image: linear-gradient(45deg, #a2faf3 0%, #6cf7ec 100%);
    background-size: 100% 200%;
    background-repeat: no-repeat;
    border-radius: 15px 15px 0 0;
    position: relative;
}
.clear {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 20px;
    top: 20px;
}
.clear i {
    font-size: 30px;
}
.clear i:hover {
    cursor: pointer;
    text-shadow: 1px 3px 5px #000;
    transform: rotate(45deg);
}
#date {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 25px;
    /* color: white; */
}

.content {
    width: 100%;
    height: calc(100% - (20px + 100px + 50px));
    background-color: #fff;
    overflow-y: auto;
}

.content ul {
    padding: 0;
    margin: 0;
}
.item {
    width: 100%;
    height: 45px;
    min-height: 45px;
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    list-style: none;
    padding: 0;
    margin: 0;
}
.item i.co {
    position: absolute;
    font-size: 25px;
    padding-left: 5px;
    left: 15px;
    top: 10px;
}
.item i.co:hover {
    cursor: pointer;
}
.fa-check-circle {
    color: #6eb200;
}
.item p.text {
    position: absolute;
    padding: 0;
    margin: 0;
    font-size: 20px;
    left: 55px;
    top: 10px;
    background-color: #fff;
    max-width: 285px;
}
.lineThrough {
    text-decoration: line-through;
    color: #ccc;
}
.item i.de {
    position: absolute;
    font-size: 25px;
    right: 15px;
    top: 10px;
}
.item i.de:hover {
    color: #af0000;
    cursor: pointer;
}

.add-to-do {
    position: relative;
    width: 100%;
    height: 60px;
    background-color: #fff;
    padding: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.add-to-do i {
    position: absolute;
    font-size: 40px;
    color: #6cf7ec;
    cursor: pointer;
}

.add-to-do input {
    position: absolute;
    left: 60px;
    height: 45px;
    bottom: 7px;
    width: 75%;
    background-color: transparent;
    border: none;
    font-size: 20px;
    padding-left: 10px;
}
.add-to-do input::-webkit-input-placeholder {
    color: #6cf7ec;
    font-size: 20px;
}
.add-to-do input::-moz-placeholder {
    color: #6cf7ec;
    font-size: 20px;
}
.add-to-do input:-ms-input-placeholder {
    color: #6cf7ec;
    font-size: 20px;
}
.add-to-do input:-moz-placeholder {
    color: #6cf7ec;
    font-size: 20px;
}

*::-webkit-scrollbar {
    width: 14px;
}
*::-webkit-scrollbar-track {
    background: rgb(224, 224, 224);
}
*::-webkit-scrollbar-thumb {
    background-color: rgb(185, 185, 185);
}

*::-webkit-scrollbar-thumb:hover {
    background-color: rgb(150, 150, 150);
}
